{% extends "base.html" %}
{% import 'form_helper.html' as lib with context %}


{%block content%}
  <h2>Crear Campaña de mailing</h2>
  
  {%call lib.create_box("", "box-solid")%}
        <form method="post" action="/campagnas/create" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="campaignName" class="col-sm-2 control-label">Nombre camapaña</label>
                <div class="col-sm-10">
                    <input type="text" name="campaignName" id="campaignName" maxlength="95" class="form-control" placeholder="Nombre para la campaña de mailing">
                </div>
            </div>

            <div class="form-group">
                <label for="event" class="col-sm-2 control-label">Evento a utilizar</label>
                <div class="col-sm-10">
                    <select name="event_id" id="event_id"  class="form-control input-lg">
                        <option value="-1">Sin envento</option>
                        {% for list in eventList %}
                            <option value="{{list.event_id}}">{{list.event_name}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            

            <div class="form-group">
                <label for="emailList" class="col-sm-2 control-label">Área</label>
                <div class="col-sm-10">
                    <select name="folder" class="form-control input-lg">
                        <option value="0">Sin área</option>
                        {% for list in areaList %}
                            <option value="{{list.folder_id}}">{{list.name}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="emailList" class="col-sm-2 control-label">Lista a enviar</label>
                <div class="col-sm-10">
                    <select name="emailList"  class="form-control">
                        {% for list in lists %}
                            <option value="{{list.id}}">{{list.name}}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="outgoinEmail" class="col-sm-2 control-label">Email salida</label>
                <div class="col-sm-10">
                    <input type="text" name="outgoinEmail" value="noresponder@noticiascdt.cl"  class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre cuenta salida</label>
                <div class="col-sm-10">
                    <input type="text" name="outgoinName" placeholder="ej: Noticias, CDT, etc" value="Corporación de Desarrollo Tecnológico"  class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Asunto</label>
                <div class="col-sm-10">
                    <input type="text" name="subject" placeholder="ej: Noticias cdt"  class="form-control" maxlength="145">
                </div>
            </div>
            
            <textarea name="html" rows="20" style="min-height:250px;"></textarea>
            
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> Insertar plantilla</button>
            
            <div class="well well-sm">
                  <h4 class="no-margin">Etiquetas disponibles</h4>
                  <small class="text-gray">Para personalizar los correos, puedes añadir dentro de tu código las etiquetas que están abajo.</small>
                  <dl class="dl-horizontal">
                      <dt>*|EMAIL|*</dt><dd>Añade el email del destinatario al correo</dd>
                      <dt>*|FNAME|*</dt><dd>Añade el primer nombre del destinatario al correo</dd>
                      <dt>*|LNAME|*</dt><dd>Añade el apellido(s) del destinatario al correo</dd>
                      <dt>*|UNSUB|*</dt><dd>Añade el link para darse de baja de la lista de correo, debe estar para que mailchimp no agregue su footer</dd>
                      <dt>*|REWARDS|*</dt><dd>Añade un link para mailchimp, debe estar presente para que mailchimp no agregue su footer</dd>
                      <dt>*|FORWARD|*</dt><dd>Añade un link para enviar el correo a otros amigos</dd>
                      <dt>*|UPDATE_PROFILE|*</dt><dd>Añade el link para actualizar la información del cliente en la lista de correo</dd>
                      <dt>*|ARCHIVE|*</dt><dd>Añade el link donde se puede ver el email en la web</dd>
                      <dt>*|EVENT_NAME|*</dt><dd>Añade el nombre del evento a la publicación</dd>
                      <dt>*|EVENT_DATE|*</dt><dd>Añade la fecha del evento a la publicación</dd>
                      <dt>*|EVENT_URL|*</dt><dd>Añade el link al evento de la publicación</dd>
                  </dl>
              </div>
            <button type="submit" id="create_mailing" class="btn btn-warning btn-lg">Crear Mailing</button>
        </form>
{% endcall %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Insertar plantilla</h4>
      </div>
      <div class="modal-body">
        <select name="template" class="form-control input-lg" id="templateSelect">
            {% for template in template_lists %}
                <option value="{{template.id}}">{{template.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="insertTemplate">Insertar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<script>
    CKEDITOR.replace('html',{
        "imageBrowser_listUrl": "/files/list/json",
        'filebrowserUploadUrl': '/files/upload'
    });
</script>
<script>
    $(function(){
        $('#event_id').on('change', function() {
            var newName = $('#event_id :selected').text().substring(0,95);
            $('#campaignName').val(newName);
        });
        $('#insertTemplate').on('click', function() {
            var id = $("#templateSelect option:selected").val();
            $.get("/plantillas/source/"+id, function(data){
                CKEDITOR.instances['html'].insertHtml(data)
            });
        });
        $('form').on("submit", function(){
            if ( $('form [name="campaignName"]').val().length < 1){
                console.log($('form [name="campaignName"]').val())
                swal('Error!',
                     'Debe especificar un nombre de campaña!',
                     'error');
                return false;
            }else if ( $('form [name="subject"]').val().length < 1){
                swal('Error!',
                     'Debe especificar un asunto',
                     'error');
                return false;
            }else if( $('form [name="folder"]').val() == 0){
                swal('Error!',
                     'Debe seleccionar una área!',
                     'error');
                return false;
            }
        })
    })
</script>
{% endblock %}
