{% extends "base.html" %}
{% import 'form_helper.html' as lib with context %}


{%block content_wrapper%}
<section class="content-header">
  <h1>
    Campañas de mailing
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">
      {%call lib.create_box("", "box-solid no-padding")%}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <form class="search_form">
                <div class="input-group input-group-sm">
                  <input type="text" placeholder="buscar campaña ..." name="title" class="form-control">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default btn-flat"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
              </form>
              <a class="collapsed btn btn-link pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Busqueda avanzada
              </a>
            </div>
          </div>
          <div class="panel">
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <form class="search_form">
                <div class="form-group">
                  <label for="title">Titulo de campaña</label>
                  <input class="form-control input-sm" type="text" placeholder="Titulo de campaña" name="title">
                </div>
                <div class="form-group">
                  <label>Estado de campaña</label>
                  <ul class="list-unstyled">
                    <li><input type="checkbox" name="status" checked class="minimal" value="sent" > <label>Enviadas</label></li>
                    <li><input type="checkbox" name="status" checked class="minimal" value="save"> <label>Almacenada</label></li>
                    <li><input type="checkbox" name="status" checked class="minimal" value="paused"> <label>Pausada</label></li>
                    <li><input type="checkbox" name="status" checked class="minimal" value="sending"> <label>En proceso</label></li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Rango de envio</label>
                  <input class="form-control input-sm" type="text" id="sendtime_start" placeholder="Fecha envio inicial" name="sendtime_start">
                  <input class="form-control input-sm" type="text" placeholder="Fecha último envío" id="sendtime_end" name="sendtime_end">
                </div>
                <div class="form-group">
                  <label>Area</label>
                  <select class="select2" multiple="multiple" data-placeholder="Filtrar por areas" style="width: 100%;" id="folder_id" name="folder_id"></select>
                </div>

                <button type="submit" class="btn btn-primary pull-right">Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
                <a class="btn btn-link pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Busqueda simple
                </a>
              </form>
            </div>
          </div>
        </div>
      {%endcall%}
      <a href="/campagnas/create" class="btn btn-lg btn-primary btn-block margin-bottom">Crear mailing</a>


      {%call lib.create_box("Áreas", "box-solid") %}
        <div>
          <ul class="sidebar-nav" id=folder_list>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </ul>
        </div>
        <div style="text-align: center;">
        <a href="#" class='btn btn-primary add_campaign' >Agregar Área</a>
      {%endcall%}
        </div>
    </div>
    
    <div class="col-md-9">
      {%call lib.create_box("Mailings", "box-primary")%}
        {% if current_folder != None and  current_folder|string != '0' %}
        <div class="mailing-controls"> </div>        

          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Opciones <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" data-toggle="modal" data-target="#deleteAreaModal" class="deleteAreaModal">Eliminar Área</a>
              </li>
            </ul>
          </div>
        {% endif %}
        
        <div id="mailing_list">
          <div class="jumbotron text-center">
            <h2 class="text-aqua"><i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i> Cargando ...</h2>
          </div>
        </div>
        
      {% endcall %}
    </div>
  </div>
</section>



<!--  
*********************************************
Modals 
*********************************************-->
<div class="modal fade" id="deleteAreaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/campagnas/folder/remove/">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Eliminar Área</h4>
        </div>
        <div class="modal-body">
          ¿Seguro que desea eliminar esta Área?
          <input type="hidden" name="id_folder" value="{{current_folder}}">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" >Seguro</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="cambiarAreaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form method="POST" action="/campagnas/folder/setArea">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Cambiar Área</h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-striped able table-bordered">
                <tr>
                  <th>Nombre</th>
                </tr>
                <tr>
                  <td id="nameAlert"></td>
                </tr>
                <tr>
                  <td id="areaAlert"></td>
                </tr>
            </table>
            <label for="name">Selecione la nueva Area</label>
            <select class="select2" style="width: 100%;" id="folder_id" name="folder_id"></select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" >Cambiar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
    </div>
  </div>
</div>


{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/static/plugins/iCheck/all.css">
       
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script src="/static/js/handlebars.js"></script>


{% raw %}
<script id="mailing-template" type="text/x-handlebars-template">
 <div class="pull-right">
    Página {{page}} de {{pages}}
    <div class="btn-group" style="margin-left: 10px">
      <button id="prev_btn" type="button"
        {{#unless has_previus}} disabled="disabled" {{/unless}}
        data-page="{{prev_num}}"
        class="btn {{#if has_previus}} btn-default {{else}} btn-dissabled {{/if}} btn-sm"><i class="fa fa-chevron-left"></i>
      </button>
      <button id="next_btn" type="button"
        {{#unless has_next}} disabled="disabled" {{/unless}}
        data-page="{{next_num}}"
        class="btn {{#if has_next}} btn-default {{else}} btn-dissabled {{/if}} btn-sm"><i class="fa fa-chevron-right"></i>
      </button>
    </div>
 </div>
 <table class="table table-hover table-striped able table-bordered">
  <tr>
    <th align="center">Nombre</th>
    <th style="display:None">fecha creacion</th>
    <th class="hidden-xs">Email salida</th>
    <th style="display:None">Asunto salida</th>
    <th>Ultimo envio</th>
    <th>Emails enviados</th>
    <th>Área</th>
    <th></th>
  </tr>
  {{#each data}}
    <tr id="c{{id}}">
    <td id="name"><a href="/campagnas/detalles/{{id}}">{{title}}</a></td>
    <td id="create" style="display:None">{{create_time}}</td>
    <td class="hidden-xs">{{from_name}} &lt;{{from_email}}&gt;</td>
    <td style="display:None">{{subject}}</td>
    <td id="lastSend">{{send_time}}</td>
    <td id="emails">{{emails_sent}}</td>
    <td id="area" class="area_td" data_folder_id="{{folder}}">
      {{folder_id}}
    </td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         <span class="hidden-xs">Opciones </span>  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/campagnas/detalles/{{id}}">Detalles</a></li>
          {{#if_eq send_time None}}
            <li><a href="/campagnas/edit/{{id}}">Editar</a></li>
            <li>
              <a href="#" data-toggle="modal" data-id="{{id}}" data-target="#cambiarAreaModal" class="cambiarAreaModal">Cambiar área</a>
            </li>
          {{else}}
            <li><a href="/campagnas/clone/{{id}}">Clonar</a></li>
          {{/if_eq}}
          <li>
            <a href="#" data-code_id={{id}} class="delete_campaign">Eliminar</a>
          </li>
        </ul>
      </div>      
    </td>
  </tr>
  {{else}}
    <tr>
      <td colspan="10"><div><h3>No encontraron campañas</h3></div></td>
    </tr>
  {{/each}}
  </table>
  <span class="pull-right">mostrando {{per_page}} de {{total}} elementos.</span>
</script>

<script id="areas-select" type="text/x-handlebars-template">
  {{#each this}}
    <option value="{{folder_id}}">{{name}}</option>
  {{/each}}
</script>

<script id="areas-template" type="text/x-handlebars-template">
  <li>
    <a href="#" class="areas_filter text-bold" data-area_id='' id="area_filter0">Todos</a>
  </li>
  {{#each this}}
    <li>
      <a href="#" class="areas_filter" data-area_id='{{folder_id}}' id="area_filter{{folder_id}}">{{name}}</a> <span>({{cnt}})</span>
    </li>
  {{/each}}
</script>
<script id="loading-template" type="text/x-handlebars-template">
  <div class="jumbotron text-center">
    <h2 class="text-aqua"><i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i> Cargando ...</h2>
  </div>
</script>
{% endraw %}

 
<script type="text/javascript">
  Handlebars.registerHelper('if_eq', function(a, b, opts) {
    if (a == b) {
        return opts.fn(this);
    } else {
        return opts.inverse(this);
    }
  });
  
  $(function () {
    var mailing_template =  Handlebars.compile($("#mailing-template").html());
    var areas_template =  Handlebars.compile($("#areas-template").html());
    var loading_template =  Handlebars.compile($("#loading-template").html());
    var areas_select =  Handlebars.compile($("#areas-select").html());

    var current_page = 0

    $('#sendtime_end, #sendtime_start').datetimepicker({
      viewMode: 'years',
      locale: 'es',
      format: 'YYYY-MM-DD hh:mm:ss',
      showClear: true,
      widgetPositioning: {
            horizontal: 'right',
            vertical: 'bottom'
      }
    });
    
    $.ajax({
      url: "{{url_for('.ajax_folder_list')}}",
      dataType: 'json',
      success: function(data) {
        // console.log(data)
        var htmlData = areas_template(data)
        $("#folder_list").html(htmlData);
        var htmlData = areas_select(data);
        $("#folder_id").html(htmlData);
      }
    });
    $.ajax({
      url: "{{url_for('.ajax_listar_campagnas')}}",
      dataType: 'json',
      success: function(data) {
        var htmlData = mailing_template(data);
        $("#mailing_list").html(htmlData);
      }
    });


    $(".cambiarAreaModal").on("click", function () {
        var campaign_id = $(this).data('id');
        $("#campainID").val(campaign_id);
        tr = $("#c"+campaign_id)
        $("td#nameAlert").text($(tr).children('td#name').text())
        $("td#areaAlert").text("Área actual: "+$(tr).children('td#area').text())
    })
    $(document).on("click", ".areas_filter", function(){
      $(".areas_filter").removeClass("text-bold");
      $(this).addClass("text-bold");
      $("#mailing_list").html(loading_template());
      $.post('{{url_for(".ajax_buscar_campagnas")}}',{
        folder_id: $(this).data('area_id')}, function(data){
        var htmlData = mailing_template(data);
        $("#mailing_list").html(htmlData);
      }, 'json');
    })
    $(document).on("click", "#next_btn", function(){
      $("#mailing_list").html(loading_template());
      var page = $(this).data("page");
      var url = "{{url_for('.ajax_listar_campagnas')}}/" + page;
      $.get(url, function(data){
        var htmlData = mailing_template(data);
        $("#mailing_list").html(htmlData);
      }, 'json');
    })
    $(document).on("click", "#prev_btn", function(){
      $("#mailing_list").html(loading_template());
      var page = $(this).data("page");
      var url = "{{url_for('.ajax_listar_campagnas')}}/" + page;
      $.get(url, function(data){
        var htmlData = mailing_template(data);
        $("#mailing_list").html(htmlData);
      }, 'json');
    })


    $(".search_form").on('submit', function(e){
      e.preventDefault();
      $("#mailing_list").html(loading_template());
      $.post('{{url_for(".ajax_buscar_campagnas")}}',$(this).serialize(), function(data){
        var htmlData = mailing_template(data);
        $("#mailing_list").html(htmlData);
      }, 'json');

    })
    $(".add_campaign").on('click', function(event){
      event.preventDefault();
      swal({
        title: 'Indique el nombre del área',
        input: 'text',
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Crear',
        allowOutsideClick: false,
        reverseButtons: true,
        inputValidator: function (value) {
          return new Promise(function (resolve, reject) {
            if (value) {
              resolve()
            } else {
              reject('Debes indicar un nombre de área!')
            }
          })
        }
      }).then(function (result) {

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", '/campagnas/folder/add/');
        var nombre_campagna = document.createElement("input");
        nombre_campagna.setAttribute("type", "hidden");
        nombre_campagna.setAttribute("name", 'name');
        nombre_campagna.setAttribute("value", result);
        form.appendChild(nombre_campagna);
        document.body.appendChild(form);
        form.submit();
        swal({
          type: 'success',
          html: 'Lista Creada: ' + result
        })
      })
    });
    $(document).on('click', '.delete_campaign', function( event){

    })

    $(document).on('click', '.delete_campaign', function( event){
      event.preventDefault();
      var campagna_id = $(this).data("code_id")
      swal({
        title: '¿Estás seguro de Eliminar la Campaña?',
        text: 'Una vez borrada, no podras recuperar este mailing.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, Eliminar!',
        cancelButtonText: 'No, cancelar!',
        allowOutsideClick: false,
        reverseButtons: true,
        buttonsStyling: true
      }).then(function () {
        $.post('{{url_for(".delete", campaign_id="")}}'+campagna_id, function(data){
          swal({type: 'success', html: 'campaña eliminada correctamente'})
          $("#c"+campagna_id).hide(500);
        });
      })
    });
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '50%'
    });
  })
</script>
{% endblock %}
