UPLOAD_FOLDER = '/var/www/cdt_mailing/uploads/files'
SECRET_KEY = 'A0Zr98j/3yX R~XHH!jmN]LWX/,?RT'
SQLALCHEMY_DATABASE_URI = 'mysql://root:m3rcur10@127.0.0.1/cdt'
DEBUG = True
PASSWORD_SALT = '?7sAt?g!#T*Nl:I5lGLN!'

SQLALCHEMY_TRACK_MODIFICATIONS = False