{% extends "index.html" %}

{% block body %}
<h2>Eventos</h2>

<a class='btn btn-default' style="float:right" href="http://www.cdt.cl/wp-admin/post-new.php?post_type=event">Crear evento</a>
<table class="table table-hover table-striped able table-bordered">
	<tr>
		<th>ID</th>
		<th>Titulo</th>
		<th>Fecha del evento</th>
	</tr>
{% for event in list %}
	<tr>
		<td>{{event.event_id}}</td>
		<td>{{event.event_name}}</td>
		<td>{{event.event_start_date}}</td>
	</tr>
{% endfor %}
</table>

{{list.event_name}}
{% endblock %}
