<style>
  .nav-collapse{margin-left:150px;}
  .brand_logo{
    background-color:#77CC6D;
    float: left;
    width: 200px;
    position: absolute;
    left: 0px;
    color:#000;
  }
  .brand_logo a{color:#FFF;float:right;}
  .user-menu{
    float: right;
    margin-top: 5px;
  }
</style>
<div class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="brand_logo"><a class="navbar-brand" href="/">CDT Mailing</a></div>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
          <!--- <li class="active"><a href="/">inicio</a></li> -->
          <li><a href="/campagnas">Mailing</a></li>
          <li><a href="/correos">Correos</a></li>
          <li><a href="/eventos">Eventos</a></li>
          <li><a href="/plantillas">Plantillas</a></li>
          {% if current_user.doc.user_role.lower() == "admin" or  current_user.doc.user_role.lower() == "root" %}
            <li><a href="/auth/users">Usuarios</a></li>
          {% endif %}

      </ul>
    </div>
     <div class="btn-group user-menu">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          {{current_user.doc.user_name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/auth/profile">Perfil</a></li>
          <li><a href="/auth/change_passwd">Cambiar contraseña</a></li>
          <li class="divider"></li>
          <li><a href="/auth/logout">Salir</a></li>
        </ul>
      </div>   
  </div>
</div>
