{% extends 'base.html' %}
{% import 'form_helper.html' as lib with context %}


{%block content%}
{%call lib.create_box("Lista de correo", "box-primary")%}

{% if message != None %}
    {{message|safe}}
{% endif %}
<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Cantidad de emails</th>
        <th>Fecha creacion</th>
    </tr>
    {% for list in lists %}
    <tr>
        <td><a href="/correos/details/{{list.id}}">{{list.name}}</a></td>
        <td>{{list.stats.member_count}}</td>
        <td>{{list.date_created}}</td>
    </tr>
    {% endfor %}

</table>
{% endcall %}
{% endblock %}