{% extends "base.html" %}
{% import 'form_helper.html' as lib with context %}


{%block content%}
{%call lib.create_box("Mis datos de usuario", "box-primary")%}
<br />
<table class="table">
  <tr>
    <td>Login</td><td>{{current_user.doc.user_login}}</td>
  </tr>
  <tr>
    <td>Usuario</td><td>{{current_user.doc.user_name}}</td>
  </tr>
  <tr>
    <td>Perfil</td><td>{{current_user.doc.user_role}}</td>
  </tr>
</table>
<a href="/auth/change_passwd/" class="btn btn-primary">Cambiar contraseña</a>
{% endcall %}
{% endblock %}
